<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>File Upload</title>
</head>
<body>
  <form action="/api/v1/upload" enctype="multipart/form-data" method="post">
    <input type="file" accept="image/png" name="file" id="file">
    <button type="submit">upload</button>
  </form>
  <!-- <input type="file" name="file" enctype="multipart/form-data" id="file">
  <button onclick="upload()">submit</button> -->
  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
  <script>
    function upload() {
      var formData = new FormData();
      var file = $('#file').get(0).files[0];
      formData.append("file", file); //传给后台的file的key值是可以自己定义的
      // formData.mimeType = "multipart/form-data";
      // formData.append("params", JSON.stringify(typeData))

      $.ajax({
        type: 'POST',
        url: '/api/v1/upload',
        data: formData,
        contentType: false,
        dataType: 'json',
        processData: false,
        success(data) {
          alert(JSON.stringify(data))
        }
      })
    }
  </script>
</body>
</html>
